{% extends "userland/security_layout.html" %}
{% block title %} Forgot Password {% endblock %}
{% block content %}

    <link href="static/css/login_user.css" rel="stylesheet">

    <h1>Forgot Password</h1>

    <div class="container-login100">
        <div class="login-box">
            <a href="/login">
                <div class="login100-form-title" style="background-image: url(static/img/logo/mfm-logo.png);"
                     onclick="/login">
                </div>
            </a>

            <form onsubmit="btn_reset_password_click()" action="{{ url_for_security('forgot_password') }}"
                  method="POST" name="forgot_password_form" id="forgot_password_form"
                  class="smart-form client-form">
                {{ forgot_password_form.hidden_tag() }}
                <div class="user-box">
                    <input type="text" name="" required="" data-validate="Email is required: ex@ex.com">
                    <label>Email</label>
                </div>
                <div class="flex-m w-full p-b-33">
                    <div class="container-login100-form-btn m-l-40">
                        <div class="wrap-login100-form-btn">
                            <div class="btn-contain" style="padding-top: 19px;">
                                <div class="btn-shiny-contain">
                                    <div class="btn-shiny">
                                        <button id="btn_reset_password"
                                                style="border-radius: 0px;"
                                                class="btn btn-light"
                                                type="submit"
                                                data-sitekey="{{ forgot_password_form.recaptcha_site_key }}">
                                            Reset Password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block customscript %}

    <script>
        function btn_reset_password_click() {
            $('#btn_reset_password').LoadingOverlay("show", {
                fade: [50, 1000]
            });
        }

        {% if forgot_password_form.errors %}
            let errors = '';
            {% for error in forgot_password_form.errors  %}
                errors += '<p>{{ forgot_password_form.errors[error][0] | replace('\'','') }}</p>';
            {% endfor %}
            if (errors !== '') {
                Swal('Error', errors, 'error');
            }

        {% elif forgot_password_form.email.data != None %}
            $('#btn_reset_password').LoadingOverlay("hide", {
                fade: [50, 1000]
            });
            Swal('Sucess', 'Instructions to reset your password have been sent to your email address', 'success');
        {% endif %}

    </script>

{% endblock %}