<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin | MFM</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="static/img/logo/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="static/lib/sweetalert/sweetalert2.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body id="body">

<div style="width: 50%; margin: 0 auto;">
    {% block content %} {% endblock %}
</div>


<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Flask APP</strong>. All Rights Reserved
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/jquery/jquery-migrate.min.js"></script>
<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/superfish/hoverIntent.js"></script>
<script src="static/lib/superfish/superfish.min.js"></script>
<script src="static/lib/wow/wow.min.js"></script>
<script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
<script src="static/lib/sticky/sticky.js"></script>
<script src="static/lib/loadingoverlay/loadingoverlay.min.js"></script>
<script src="static/lib/sweetalert/sweetalert2.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="static/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="static/js/main.js"></script>

<script>
    function Swal(title, html, type) {
        swal({
            position: 'bottom-end',
            html: html,
            type: type,
            showCloseButton: true,
            showConfirmButton: false,
            timer: 50000,
            footer: '<img src="/static/img/logo/mfm-logo.png" style="width:80px;height:24px;" />',
            customClass: 'swal2-popup'
        });
    }
</script>

{% block customscript %}{% endblock %}


<style>
    .swal2-popup {
        width: 26rem !important;
        font-size: 1rem;
    }
</style>

</body>
</html>
